*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    line-height: 1.4;
    font-weight: 300;
    scroll-behavior: smooth;
}

.hero{
    background-image: url(/img/bg.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(5px); */

}
.text{
    color: white;
    font-size: 30px;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 70px;
    margin-right: auto;
}

.text{
    font-family: 'Poppins', sans-serif;
}
.text h6:hover{
    filter: blur(1px)
}
.large_text{
    font-size: 75px;
    font-family: 'Work Sans', sans-serif;
}
#snipc{
    font-size: 57px;
    color: rgb(255, 180, 180);
}
#snipc:hover{
    color: rgb(233, 193, 193);
}
.black_box{
    height: 120px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote{
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 25px;

}
.links{
    position: absolute;
    bottom: 8px;
    right: 30px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    border: 1px solid grey;
    border-radius: 20px;
}
.links a{
    text-decoration: none;
    color: wheat;
    padding-right: 15px;
    padding-left: 15px;
}


